@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  transition: opacity 0.3s ease-in-out;
}

img[loading="lazy"] {
  opacity: 0;
}

img[loading="lazy"].loaded,
img[loading="eager"] {
  opacity: 1;
}

* {
  scroll-behavior: smooth;
}

.transition-all {
  will-change: transform;
}
